# Review 
* list, set, tuple, dict
* list comprehension
* methods for list, set, dict

In [ ]:
fruits = ['apple', 'banana']

In [ ]:
fruits[0]

In [ ]:
for fruit in fruits:
    print(fruit)

In [ ]:
for num, fruit in enumerate(fruits):
    print(num, fruit)

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]

In [ ]:
for i in numbers:
    # expression
    print(i*2)

In [ ]:
even=[]
for i in numbers:
    # expression
    even.append(i*2)
print(even)

In [ ]:
# list comprehendsion
# [ expression for i in a_list ]
even = [ i*2 for i in numbers ]
even

In [ ]:
odd = [ i*2+1 for i in numbers ]
odd

In [ ]:
even.pop()

In [ ]:
even

In [ ]:
numbers=  [1, 4, 3, 2]
sorted(numbers) # built-in, give you a new list sorted
# but the original list remains unsorted

In [ ]:
numbers

In [ ]:
numbers.sort() # sort the original list
numbers

In [103]:
# +
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

In [101]:
a = [1,2,3]
b = [4,5]
a.append(b)
a

[1, 2, 3, [4, 5]]

In [102]:
# a is nested
a = [1,2,3]
b = [4,5]
a.extend(b)
a

[1, 2, 3, 4, 5]

In [100]:
# a + b
a = [1,2,3]
b = [4,5]
a+b

[1, 2, 3, 4, 5]

In [104]:
int('2')  # data_type(data)

2

In [105]:
# Set, collection of items
# items are unique, unordered
my_list = [2, 2, 4]
my_set = set(my_list)
my_set

{2, 4}

In [106]:
set_a = {1, 3, 4}

In [107]:
set_b = { 3, 4, 5}

In [108]:
set_a + set_b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [109]:
# element in either a or b, use |
set_a | set_b

{1, 3, 4, 5}

In [112]:
# elements in both a and b
set_a & set_b

{3, 4}

In [111]:
set_a - set_b  # from a, remove all appears in b

{1}

In [113]:
set_a.add(10)
set_a

{1, 3, 4, 10}

In [114]:
set_a.pop()  # why? set doens't have an order

1

In [116]:
help(set_a.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [117]:
set_a.pop()

10

In [121]:
set_a = {1, 3, 4, 10}
for i in range(len(set_a)):
    print(set_a.pop())

1
10
3
4

In [122]:
# tuple, use () instead of []
# immutable
a = tuple([1, 2, 3])
a

(1, 2, 3)

In [123]:
a.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [126]:
def print_items(items):
    print(items)
    
acount_balance = (1000, 2000)
print_items(acount_balance)

(1000, 2000)

In [130]:
def print_items(items):
    items[0] = 1
    print(items)

In [131]:
acount_balance = [1000, 2000]
print_items(acount_balance)

[1, 2000]

In [132]:
acount_balance = (1000, 2000)
print_items(acount_balance)

TypeError: 'tuple' object does not support item assignment

In [133]:
# dict. mapping
# word : sentence explain the meaning
# { key: value }

In [138]:
d = {'name': 'joshua', 'age': 13}
d

{'name': 'joshua', 'age': 13}

In [135]:
d.keys()

dict_keys(['name', 'age'])

In [136]:
d.values()

dict_values(['joshua', 13])

In [137]:
for k, v in d.items(): # dict doens't have an order  !!!
    print(k, v)

name joshua
age 13

In [ ]:
# make a dict for do  ASCII encoding
# A -> 65, B -> 66, .... Z ->

In [139]:
ord('A')  # built-in.  convert char -> number

65

In [155]:
chr(65)  # convert number -> char

'A'

In [156]:
# map , filter, reduce

In [143]:
mapping={}
# for loop, loop through range(65, 90), 65, 66,....
for n in range(ord('A'), ord('Z')+1):
    # {'A': 65}, {'B':66}
    mapping.update({chr(n): n})
mapping

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [144]:
mapping.pop('A')

65

In [145]:
mapping

{'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [152]:
mapping['Z'] # what does 'Z' map to?

90

In [147]:
mapping

{'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [148]:
mapping['C']=100

In [149]:
mapping

{'B': 66,
 'C': 100,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [151]:
mapping.update({'C':200})
mapping

{'B': 66,
 'C': 200,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [153]:
for c in mapping.keys():
    if mapping[c] == 90:
        print(c)

Z

In [154]:
chr(87)

'W'

In [157]:
# Math Fun
for i in range(1,28):
    print(f"12345679 * {i} = {12345679*i}")

12345679 * 1 = 12345679
12345679 * 2 = 24691358
12345679 * 3 = 37037037
12345679 * 4 = 49382716
12345679 * 5 = 61728395
12345679 * 6 = 74074074
12345679 * 7 = 86419753
12345679 * 8 = 98765432
12345679 * 9 = 111111111
12345679 * 10 = 123456790
12345679 * 11 = 135802469
12345679 * 12 = 148148148
12345679 * 13 = 160493827
12345679 * 14 = 172839506
12345679 * 15 = 185185185
12345679 * 16 = 197530864
12345679 * 17 = 209876543
12345679 * 18 = 222222222
12345679 * 19 = 234567901
12345679 * 20 = 246913580
12345679 * 21 = 259259259
12345679 * 22 = 271604938
12345679 * 23 = 283950617
12345679 * 24 = 296296296
12345679 * 25 = 308641975
12345679 * 26 = 320987654
12345679 * 27 = 333333333