<h1 id="tocheading">String Part 2</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [2]:
from IPython.display import Image

### String I Review

* Operators: +, *, in
* Comparison
* built-in functions
* index and slicing

In [3]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

### More built-in string methods


    isdigit
    isalpha
    isalnum
    isupper
    islower
    format

In [5]:
"124".isdigit()

True

In [6]:
"12.4".isdigit()

False

In [7]:
"abc".isdigit()

False

In [8]:
"123".isalpha()

False

In [9]:
'abc'.isalpha()

True

In [10]:
'abc123'.isalnum()

True

In [11]:
"abc123".islower()

True

In [12]:
"abc123".isupper()

False

In [13]:
"abc123".upper()

'ABC123'

In [14]:
type('abc')

str

In [15]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '_TemplateMetaclass',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [16]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:

s = "What's up Bob?"
# maketrans('old', 'new', 'remove')
s.translate(str.maketrans('', '', string.punctuation))

'Whats up Bob'

In [18]:
for c in s:
    if c.isalpha() or c==' ':
        print(c, end='')

Whats up Bob

In [19]:
s="abc"
s.translate(str.maketrans('a', 'b', string.punctuation))

'bbc'

### String format

* use placeholder {} 
* use f string
* old style %


f string is more convenient than {}

In [20]:
name = "frank"
"hello, my name is {}".format(name)

'hello, my name is frank'

In [21]:
name = "frank"
role = "teacher"
"hello, my name is {}, I am a {}".format(name, role)

'hello, my name is frank, I am a teacher'

In [22]:
name = "frank"
role = "teacher"
"hello, my name is {0}, I am a {1}".format(name, role)

'hello, my name is frank, I am a teacher'

In [23]:
name = "frank"
role = "teacher"
"hello, my name is {0}, I am a {1}. Yes, {0} is a {1}".format(name, role)

'hello, my name is frank, I am a teacher. Yes, frank is a teacher'

In [24]:
# python formatted output
import math
"pi = {0:12.8f}".format(math.pi)

'pi =   3.14159265'

In [25]:
for i in range(64):
    print("{0:4} 2 ^{0:3} = {1:30}".format(i, 2**i))
#     print("{0:4} 2 ^{0:3} = {1:>30}".format(i, 2**i))

   0 2 ^  0 =                              1
   1 2 ^  1 =                              2
   2 2 ^  2 =                              4
   3 2 ^  3 =                              8
   4 2 ^  4 =                             16
   5 2 ^  5 =                             32
   6 2 ^  6 =                             64
   7 2 ^  7 =                            128
   8 2 ^  8 =                            256
   9 2 ^  9 =                            512
  10 2 ^ 10 =                           1024
  11 2 ^ 11 =                           2048
  12 2 ^ 12 =                           4096
  13 2 ^ 13 =                           8192
  14 2 ^ 14 =                          16384
  15 2 ^ 15 =                          32768
  16 2 ^ 16 =                          65536
  17 2 ^ 17 =                         131072
  18 2 ^ 18 =                         262144
  19 2 ^ 19 =                         524288
  20 2 ^ 20 =                        1048576
  21 2 ^ 21 =                        2097152
  22 2 ^ 22 =                        4194304
  23 2 ^ 23 =                        8388608
  24 2 ^ 24 =                       16777216
  25 2 ^ 25 =                       33554432
  26 2 ^ 26 =                       67108864
  27 2 ^ 27 =                      134217728
  28 2 ^ 28 =                      268435456
  29 2 ^ 29 =                      536870912
  30 2 ^ 30 =                     1073741824
  31 2 ^ 31 =                     2147483648
  32 2 ^ 32 =                     4294967296
  33 2 ^ 33 =                     8589934592
  34 2 ^ 34 =                    17179869184
  35 2 ^ 35 =                    34359738368
  36 2 ^ 36 =                    68719476736
  37 2 ^ 37 =                   137438953472
  38 2 ^ 38 =                   274877906944
  39 2 ^ 39 =                   549755813888
  40 2 ^ 40 =                  1099511627776
  41 2 ^ 41 =                  2199023255552
  42 2 ^ 42 =                  4398046511104
  43 2 ^ 43 =                  8796093022208
  44 2 ^ 44 =                 17592186044416
  45 2 ^ 45 =                 35184372088832
  46 2 ^ 46 =                 70368744177664
  47 2 ^ 47 =                140737488355328
  48 2 ^ 48 =                281474976710656
  49 2 ^ 49 =                562949953421312
  50 2 ^ 50 =               1125899906842624
  51 2 ^ 51 =               2251799813685248
  52 2 ^ 52 =               4503599627370496
  53 2 ^ 53 =               9007199254740992
  54 2 ^ 54 =              18014398509481984
  55 2 ^ 55 =              36028797018963968
  56 2 ^ 56 =              72057594037927936
  57 2 ^ 57 =             144115188075855872
  58 2 ^ 58 =             288230376151711744
  59 2 ^ 59 =             576460752303423488
  60 2 ^ 60 =            1152921504606846976
  61 2 ^ 61 =            2305843009213693952
  62 2 ^ 62 =            4611686018427387904
  63 2 ^ 63 =            9223372036854775808

In [26]:
# {<pos>:[><^]spaces>}
# center aligned with ^
for i in range(64):
    print("{0:4} 2 ^{0:3} = {1:^30}".format(i, 2**i))

   0 2 ^  0 =               1
   1 2 ^  1 =               2
   2 2 ^  2 =               4
   3 2 ^  3 =               8
   4 2 ^  4 =               16
   5 2 ^  5 =               32
   6 2 ^  6 =               64
   7 2 ^  7 =              128
   8 2 ^  8 =              256
   9 2 ^  9 =              512
  10 2 ^ 10 =              1024
  11 2 ^ 11 =              2048
  12 2 ^ 12 =              4096
  13 2 ^ 13 =              8192
  14 2 ^ 14 =             16384
  15 2 ^ 15 =             32768
  16 2 ^ 16 =             65536
  17 2 ^ 17 =             131072
  18 2 ^ 18 =             262144
  19 2 ^ 19 =             524288
  20 2 ^ 20 =            1048576
  21 2 ^ 21 =            2097152
  22 2 ^ 22 =            4194304
  23 2 ^ 23 =            8388608
  24 2 ^ 24 =            16777216
  25 2 ^ 25 =            33554432
  26 2 ^ 26 =            67108864
  27 2 ^ 27 =           134217728
  28 2 ^ 28 =           268435456
  29 2 ^ 29 =           536870912
  30 2 ^ 30 =           1073741824
  31 2 ^ 31 =           2147483648
  32 2 ^ 32 =           4294967296
  33 2 ^ 33 =           8589934592
  34 2 ^ 34 =          17179869184
  35 2 ^ 35 =          34359738368
  36 2 ^ 36 =          68719476736
  37 2 ^ 37 =          137438953472
  38 2 ^ 38 =          274877906944
  39 2 ^ 39 =          549755813888
  40 2 ^ 40 =         1099511627776
  41 2 ^ 41 =         2199023255552
  42 2 ^ 42 =         4398046511104
  43 2 ^ 43 =         8796093022208
  44 2 ^ 44 =         17592186044416
  45 2 ^ 45 =         35184372088832
  46 2 ^ 46 =         70368744177664
  47 2 ^ 47 =        140737488355328
  48 2 ^ 48 =        281474976710656
  49 2 ^ 49 =        562949953421312
  50 2 ^ 50 =        1125899906842624
  51 2 ^ 51 =        2251799813685248
  52 2 ^ 52 =        4503599627370496
  53 2 ^ 53 =        9007199254740992
  54 2 ^ 54 =       18014398509481984
  55 2 ^ 55 =       36028797018963968
  56 2 ^ 56 =       72057594037927936
  57 2 ^ 57 =       144115188075855872
  58 2 ^ 58 =       288230376151711744
  59 2 ^ 59 =       576460752303423488
  60 2 ^ 60 =      1152921504606846976
  61 2 ^ 61 =      2305843009213693952
  62 2 ^ 62 =      4611686018427387904
  63 2 ^ 63 =      9223372036854775808

In [27]:
# left align with <
for i in range(64):
    print("{0:4} 2^{0} = {1:<30}".format(i, 2**i))

   0 2^0 = 1
   1 2^1 = 2
   2 2^2 = 4
   3 2^3 = 8
   4 2^4 = 16
   5 2^5 = 32
   6 2^6 = 64
   7 2^7 = 128
   8 2^8 = 256
   9 2^9 = 512
  10 2^10 = 1024
  11 2^11 = 2048
  12 2^12 = 4096
  13 2^13 = 8192
  14 2^14 = 16384
  15 2^15 = 32768
  16 2^16 = 65536
  17 2^17 = 131072
  18 2^18 = 262144
  19 2^19 = 524288
  20 2^20 = 1048576
  21 2^21 = 2097152
  22 2^22 = 4194304
  23 2^23 = 8388608
  24 2^24 = 16777216
  25 2^25 = 33554432
  26 2^26 = 67108864
  27 2^27 = 134217728
  28 2^28 = 268435456
  29 2^29 = 536870912
  30 2^30 = 1073741824
  31 2^31 = 2147483648
  32 2^32 = 4294967296
  33 2^33 = 8589934592
  34 2^34 = 17179869184
  35 2^35 = 34359738368
  36 2^36 = 68719476736
  37 2^37 = 137438953472
  38 2^38 = 274877906944
  39 2^39 = 549755813888
  40 2^40 = 1099511627776
  41 2^41 = 2199023255552
  42 2^42 = 4398046511104
  43 2^43 = 8796093022208
  44 2^44 = 17592186044416
  45 2^45 = 35184372088832
  46 2^46 = 70368744177664
  47 2^47 = 140737488355328
  48 2^48 = 281474976710656
  49 2^49 = 562949953421312
  50 2^50 = 1125899906842624
  51 2^51 = 2251799813685248
  52 2^52 = 4503599627370496
  53 2^53 = 9007199254740992
  54 2^54 = 18014398509481984
  55 2^55 = 36028797018963968
  56 2^56 = 72057594037927936
  57 2^57 = 144115188075855872
  58 2^58 = 288230376151711744
  59 2^59 = 576460752303423488
  60 2^60 = 1152921504606846976
  61 2^61 = 2305843009213693952
  62 2^62 = 4611686018427387904
  63 2^63 = 9223372036854775808

In [28]:
# use f string. must be 3.6 or upper
!python -V

Python 3.7.7

In [29]:
f"{name} is a {role}"

'frank is a teacher'

In [30]:
# old style, 
"%s is a %s" % (name, role)

'frank is a teacher'

### convert str to list and vice versa

    
    translate
    split
    join

In [31]:
# informal introduction of list

In [32]:
numbers=[1,2,3]
numbers

[1, 2, 3]

In [33]:
fruits = ['apple', 'pear', 'orange']

In [34]:
for item in fruits:
    print(item)

apple
pear
orange

In [35]:
# print in reverse order
for item in fruits[::-1]:
    print(item)

orange
pear
apple

In [36]:
sentence = "How aRe you doing?"
processed = sentence.translate(
    str.maketrans(string.ascii_uppercase,
                  string.ascii_lowercase,
                  string.punctuation))
print(processed)

how are you doing

In [37]:
l = processed.split() # split str into list by ' '
l

['how', 'are', 'you', 'doing']

In [38]:
"i-am-fine".split('-')

['i', 'am', 'fine']

In [39]:
# separator.join(list)
'*'.join(l)

'how*are*you*doing'

## Math fun - Magic number


    input a number consist of 3 unique digits, 
    find the max number that can be made from these 3 digits,
    and find the min number from these 3 digits,
    substract the min from max
    do the above over and over again
    you will arrive at a magic number
    and stay with it forever...

In [40]:
# informal introduction of function
# purpose, syntax
def add_together(n):
    total = 0
    for i in range(n+1):
        total = total + i
    return total

add_together(100)

5050

In [41]:
def get_sorted_digits(n):
    """ give a number, return sorted digits
    for example, 243 -> '2', '3', '4'
    
    """
    return sorted(str(n))

def get_max(l):
    total = 0
    count = 0
    for i in l:
        total += int(i) * 10**count
        count += 1
    return total

def get_min(l):
    total = 0
    count = 0
    for i in l[::-1]:
        total += int(i) * 10**count
        count += 1
    return total

In [42]:
get_sorted_digits(234)

['2', '3', '4']

In [43]:
l = get_sorted_digits(243)

In [44]:
get_max(l)

432

In [45]:
get_min(l)

234

In [46]:
n = int(input("please input a number: "))

while True:
    print(n)
    l = get_sorted_digits(n)
    print(get_max(l), '-', get_min(l))
    x = get_max(l) - get_min(l)

    if x == n:
        break
    else:
        n = x

please input a number: 374
374
743 - 347
396
963 - 369
594
954 - 459
495
954 - 459

## Summary

In [47]:
# Homework: 5.1 - 5.C