<h1 id="tocheading">Contents</h1>
<div id="toc"></div>

In [2]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

In [2]:
from IPython.display import Image

## List  - Part 2

### 2D lists / Matrix



    list of lists
    first index is row, 2nd index is column

In [3]:
a = [1,2,3]

In [14]:
m = [ 
    [1, 2, 3],  # row 0
    [4, 5, 6]   # row 1
#col 0  1  2   
    ]

In [12]:
len(m)

2

In [13]:
m[1][2] # row, col

6

In [15]:
m[0][1]

2

### enumerate

enumerate items with an index

In [7]:
months = ['Jan', 'Feb', 'March']
for m in months:
    print(m)

Jan
Feb
March

In [9]:
for i in range(len(months)):
    print(i, months[i])

0 Jan
1 Feb
2 March

In [1]:
months = ['Jan', 'Feb', 'March']
for i, month in enumerate(months):
    print(i, month)

0 Jan
1 Feb
2 March

### list comprehension


    dynamically construct a list

    [ <expression of i> for i in <sequence> if <cond>]

In [18]:
[ i for i in range(10) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
[ 0 for i in range(10)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
[ i*2 + 1 for i in range(10)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
[ i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [10]:
[ i for i in range(10) if i % 2 != 0 ]

[1, 3, 5, 7, 9]

### Dynamically Construct 2D list with list comprehension


    [  col 
        [ 1, 2, 3, 4 ],
        [ 5, 6, 7, 8 ],
        [ 9, 10, 11, 12],
        [13, 14, 15, 16]
    ]

In [19]:
[ i for i in range(3)]

[0, 1, 2]

In [20]:
[ [] for i in range(3)] # create 3 lists

[[], [], []]

In [13]:
[ [j for j in range(4)] for i in range(3)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [21]:

row = 3
col = 4
a = [[1 for j in range(col)] for i in range(row)]
a

[[1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1]]

In [31]:
# ignore if you have difficulty to understand...

a = [[i*col+j for j in range(col)] for i in range(row)]

for i in a:
    print(i)

# 6 :  row 1, col 2.    1 * 4 + 2= 6

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]

In [29]:
for i in range(3):
    for j in range(4):
        print(i*4+j, end=' ')
    print('\n')

0 1 2 3

4 5 6 7

8 9 10 11

### Tuple

    
    immutable ordered sequence

In [34]:
t = (1,2,3)

In [35]:
a, b = 3, 5

In [36]:
a, b = b, a

In [37]:
a

5

In [38]:
b

3

## Math Fun


    give N ( odd number) , print N*N magic squares
    3: 1.2...3^2
    [8, 1, 6]
    [3, 5, 7]
    [4, 9, 2]
    
    skills: while loop, 2D List

In [44]:
N = int(input())
magic_square = [ [ 0 for j in range(N)] for i in range(N)]

n = 1
i, j = 0, N//2

while n <= N**2:
    magic_square[i][j] = n
    n += 1
    newi, newj = (i-1) % N, (j+1)% N
    if magic_square[newi][newj]:
        i += 1
    else:
        i, j = newi, newj

for row in magic_square:
    print(row)

5
[17, 24, 1, 8, 15]
[23, 5, 7, 14, 16]
[4, 6, 13, 20, 22]
[10, 12, 19, 21, 3]
[11, 18, 25, 2, 9]

## Review

In [45]:
# Homework: 7.8 - 7.D