2018-01-27.  Theme: Python In Action

<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [2]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

## Zen of Python

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## How to Run a Python Program?

* Run as python script:  Python 1.py
* Run interactively: Python <Enter>
* Run in notebook: Jupyter notebook

In [3]:
# run python as a calculater in jupyter notebook
1+2

3

## Program Structure
How to *Speak* and *Understand* Python?

* lines
* blank lines
* Comments
* identifiers
* keywords
* numbers

In [4]:
a = 1

In [5]:
a  # variable can vary

1

In [6]:
a = 3

In [7]:
a

3

In [8]:
b=3

In [9]:
a = 123

In [10]:
a * 10

1230

### lines, blank lines and comments

In [11]:
def fib():
    """ print fibonacci series
    and show simultaneous assignments
    """
    a, b = 0, 1
    while b < 1000:
        print(b, end=',')
        a, b = b, a+b
        

fib()

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

### identifiers

variable names. can start with a letter (a-Z, A-Z) or _, followed by numbers

Cannot start with numbers!

Detailed Rules Refer to https://docs.python.org/3/reference/lexical_analysis.html

In [12]:
# 1a =3   # uncomment this will give a SyntaxError

In [13]:
a = 1

In [14]:
_aBc12 = 23

### Keywords
keywords are reserved for Python internal use, should not be used for variable names

False      class      finally    is         return
None       continue   for        lambda     try
True       def        from       nonlocal   while
and        del        global     not        with
as         elif       if         or         yield
assert     else       import     pass
break      except     in         raise

### Numbers and Arithmetic Operators

int, float

+ - * /  //  %  **

In [15]:
2 + 2  # number , operator

4

In [16]:
50 - 5*6

20

In [17]:
8 / 5  # division   = 1 + 3/5

1.6

In [18]:
8 // 5  # floor division = round to the integer

1

In [19]:
11 // 5

2

In [20]:
19//10  # 1.9

1

In [21]:
5 ** 2  # 5 squared

25

In [22]:
5 * 5 * 5

125

In [23]:
5 ** 3

125

In [24]:
# assignment: give variable a value
width = 4
height = 3

In [25]:
width  # display only in interactive mode

4

In [26]:
print(height) # print :  display variable to screen, work in interactive and script execution mode.

3

In [27]:
width, height = 6, 4  # simultaneous assignment

In [28]:
width

6

In [29]:
height

4

In [30]:
area = width * height
#area

In [31]:
5%2  # take a remindar

1

Python's integer has unlimited length

[grains on chess board](http://www.dr-mikes-math-games-for-kids.com/rice-and-chessboard.html)

In [32]:
for i in range(64):
    print("{:2d} {:>30,}".format(i, 2**i))  # you don't have to know how this line work for now.

 0                              1
 1                              2
 2                              4
 3                              8
 4                             16
 5                             32
 6                             64
 7                            128
 8                            256
 9                            512
10                          1,024
11                          2,048
12                          4,096
13                          8,192
14                         16,384
15                         32,768
16                         65,536
17                        131,072
18                        262,144
19                        524,288
20                      1,048,576
21                      2,097,152
22                      4,194,304
23                      8,388,608
24                     16,777,216
25                     33,554,432
26                     67,108,864
27                    134,217,728
28                    268,435,456
29                    536,870,912
30                  1,073,741,824
31                  2,147,483,648
32                  4,294,967,296
33                  8,589,934,592
34                 17,179,869,184
35                 34,359,738,368
36                 68,719,476,736
37                137,438,953,472
38                274,877,906,944
39                549,755,813,888
40              1,099,511,627,776
41              2,199,023,255,552
42              4,398,046,511,104
43              8,796,093,022,208
44             17,592,186,044,416
45             35,184,372,088,832
46             70,368,744,177,664
47            140,737,488,355,328
48            281,474,976,710,656
49            562,949,953,421,312
50          1,125,899,906,842,624
51          2,251,799,813,685,248
52          4,503,599,627,370,496
53          9,007,199,254,740,992
54         18,014,398,509,481,984
55         36,028,797,018,963,968
56         72,057,594,037,927,936
57        144,115,188,075,855,872
58        288,230,376,151,711,744
59        576,460,752,303,423,488
60      1,152,921,504,606,846,976
61      2,305,843,009,213,693,952
62      4,611,686,018,427,387,904
63      9,223,372,036,854,775,808

In [33]:
# float
1/7

0.14285714285714285

In [34]:
a = 1/7
a  = a * 2
a

0.2857142857142857

In [35]:
a = 1/7
a *= 3
a

0.42857142857142855

## Data Types

### int , float

See above

### Bool

Boolean value represents logical True or False. Often used in if/else statement

There are only two values in Python: True, False

In [36]:
earth_is_flat = False

if earth_is_flat:
    print("be careful not to fall off!")
else:
    print("don't worry.")

don't worry.

In [37]:
# bool is automatically convert to int in arithmetic operations
# False -> 0,  True -> 1
earth_is_round = True
earth_is_round + 2  # + / - *

3

### string
#### concatenation and replication

In [38]:
# can be quote in either ''  or ""
'Python'

'Python'

In [39]:
'Python' == "Python"  # = assignment  == equal

True

In [40]:
"Python is awesome"

'Python is awesome'

In [41]:
# to string, + means concatenation
'Python' + 'is' + 'awesome!'

'Pythonisawesome!'

In [42]:
'Pythonisawesome'

'Pythonisawesome'

In [43]:
# * means replication
'a' * 3

'aaa'

In [44]:
a = 1  # variable
a

1

In [45]:
a * 3

3

In [46]:
# a is not 'a'

In [47]:
a == 'a'

False

In [48]:
'a' * 5 + 'h'

'aaaaah'

In [49]:
# - and / doesn't work with string
#'aaa' - 'a'

In [50]:
'abc'.replace('c','')

'ab'

In [51]:
'abc'.replace('c','d')

'abd'

In [52]:
# 'aaa' / 3  # This doesn't work!!

#### split and join

In [53]:
sentence = "Python string is cool"
sentence

'Python string is cool'

In [54]:
list1 = sentence.split(' ')

In [55]:
list1

['Python', 'string', 'is', 'cool']

In [56]:
'-'.join(list1)

'Python-string-is-cool'

In [57]:
'='.join(list1)

'Python=string=is=cool'

In [58]:
list2 = ['a','b','c']
"===".join(list2)

'a===b===c'

In [59]:
output = 'a a a'.split()  # a list of string.

In [60]:
output

['a', 'a', 'a']

In [61]:
#  c.join(list)
'-'.join(output)

'a-a-a'

In [62]:
' '.join(output)

'a a a'

In [63]:
len("Python string is cool")  # len = length

21

#### replace, upper, lower

In [64]:
"Python string is cool".startswith('p')

False

In [65]:
"Python string is cool".upper()  # string is inmutable.  create a new string

'PYTHON STRING IS COOL'

In [66]:
sentence = "Python string is cool"

In [67]:
# replace create a new string. string is inmutable
new_sentence = "Python string is cool".replace('cool', 'awesome')
new_sentence

'Python string is awesome'

In [68]:
sentence  # the original string doesn't change

'Python string is cool'

#### indexing and slicing

In [69]:
# s is a variable hold a string 'Python'
s = "Python"  # string is a series of chars put in consecutive boxes.

In [70]:
s

'Python'

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
   0   1   2   3   4   5   6
  -6  -5  -4  -3  -2  -1

In [71]:
s[0]

'P'

In [72]:
s[0]+s[1]

'Py'

In [73]:
s[5]

'n'

In [74]:
s[-1]  # last char

'n'

In [75]:
s[2]

't'

In [76]:
# s[6]   # uncomment this will give a IndexError

In [77]:
s[2:4]  # from postition 2 to 4, but not including 4 !!!

'th'

In [78]:
s[2:]  # from 2 until the end

'thon'

In [79]:
s[:5]  # from beginning to 5

'Pytho'

In [80]:
s[:]  # take a slice from beginning to end. same is copy the original string

'Python'

In [81]:
s[::1]

'Python'

In [82]:
s[0:6:1]  # start : end : step

'Python'

In [83]:
s[::2]  # slicing is a copy, s itself doesn't change

'Pto'

In [84]:
s[::-1]

'nohtyP'

### List

In [85]:
[], list()

([], [])

In [86]:
# \ is line continuation. line < 80 chars
moms_shopping_list = ['apple', 'pear', 'cantalope', 'pineapple', 'strawberry', \
                     'honeydew', 'peach']
moms_shopping_list

['apple', 'pear', 'cantalope', 'pineapple', 'strawberry', 'honeydew', 'peach']

In [87]:
# moms_shopping_list = ['apple', 'pear', 'cantalope', 'pineapple', 'strawberry', \
#                       'apple', 'pear', 'cantalope', 'pineapple', 'strawberry', \
#                       'apple', 'pear', 'cantalope', 'pineapple', 'strawberry' ]

In [88]:
'apple' in moms_shopping_list  # test a item see if it is in the list or not

True

In [89]:
"APPLE" in moms_shopping_list

False

In [90]:
"blueberry" in moms_shopping_list

False

#### Indexing and slicing

similiar to string indexing and slicing

In [91]:
moms_shopping_list[0]

'apple'

In [92]:
moms_shopping_list[-1]

'peach'

#### list comprehension

In [93]:
# same as range(0, 10, 1),  from 0 to 10, not including 10 
nums = [ i for i in range(10)]
nums
# nums = range(10)
# list(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
[ i * 2 for i in nums ]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [95]:
evens = [ i for i in nums if i % 2 == 0 ]
evens

[0, 2, 4, 6, 8]

In [96]:
odds = [ i for i in nums if i % 2 == 1 ]
odds

[1, 3, 5, 7, 9]

In [97]:
odds + evens

[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

In [98]:
squares = [ i**2 for i in nums ]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
len(nums)

10

#### append and pop

change the list

In [100]:
nums.append(10)  # append an item to the end of the list
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
nums.pop()  # get the last item out from the list

10

## basic input and output

input, print

In [102]:
a = input()  # input give you a string
type(a), a

2

(str, '2')